<h1>EXERCÍCIOS</h1>

Para poder fazer os execicíos é necessário executar o próximo bloco.

Este bloco possui funções para gerar as listas necessárias.

Estas listas são aleatórias, pois não nos interessam o conteúdo da lista e sim a aplicação dos mentódos e funções aprendeidos.

Bons Estudos!

In [34]:
import random
from random import randint
 
def lista_simples_int_str(numero_objetos = int(random.randint(5,100))):
    '''
    Retorna lista randômica, pura, composta de string ou inteiros, variando de 5 a 100 itens.

    '''
    tipo_lista = int(random.randint(0,1))
    if tipo_lista == 0:
        lista = lista_simples_str(numero_objetos)
    else:
        lista = lista_simples_int(numero_objetos)
    return lista

def lista_simples_inpura_int_str(numero_objetos = int(random.randint(5,100))):
    '''
    Retorna lista randômica, impura, composta de string, inteiros ou alfanúmerica, variando de 5 a 100 itens.

    '''
    tipo_lista = int(random.randint(0,2))
    if tipo_lista == 0:
        lista = lista_simples_str(numero_objetos)
    elif tipo_lista == 1:
        lista = lista_simples_impura(numero_objetos)
    else:
        lista = lista_simples_int(numero_objetos)
    return lista

def lista_simples_int(numero_objetos = int(random.randint(5,100))):
    '''
    Retorna uma lista randômica com inteiros contendo de 5 a 100 itens.
    '''
    lista = []
    for i in range(numero_objetos):
        lista.append(int(random.randint(1,1000)))
    return lista

def lista_simples_str(numero_objetos = int(random.randint(5,100))):
    '''
    Retorna uma lista randômica com string, de 1 a 10 caracteres, contendo de 5 a 100 itens.
    Os caracteres podem ser minusculos ou maiusculos.
    '''
    lista_alfabetica = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 
                        'h', 'i', 'j', 'k', 'l', 'm', 'n',
                        'o', 'p', 'q', 'r', 's', 't', 'u',
                        'v', 'w', 'x', 'y', 'z']
    lista = []
    for i in range(numero_objetos):
        letra = ''
        for i in range(int(random.randint(1,10))):
            char = random.choice(lista_alfabetica)
            if int(random.randint(0,1)) == 1:
                letra = letra + char.upper()
            else:
                letra = letra + char
        lista.append(letra)
    return lista

def lista_simples_impura(numero_objetos = int(random.randint(5,100))):
    '''
    Retorna uma lista randômica com alfanumérica, de 1 a 10 caracteres, numeros de 0 a 1000,
    contendo de 5 a 100 itens.
    Os caracteres podem ser minusculos ou maiusculos.
    '''
    lista_alfabetica = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 
                        'h', 'i', 'j', 'k', 'l', 'm', 'n',
                        'o', 'p', 'q', 'r', 's', 't', 'u',
                        'v', 'w', 'x', 'y', 'z', '0', '1',
                        '2', '3', '4', '5', '6', '7', '8',
                        '9']
    lista = []
    for i in range(numero_objetos):
        letra = ''
        if int(random.randint(0,1)) == 0:
            lista.append(random.randint(0,1000))
        else:
            for i in range(int(random.randint(1,10))):
                char = random.choice(lista_alfabetica)
                if int(random.randint(0,1)) == 0:
                    letra = letra + char.upper()
                else: 
                    letra = letra + char
            lista.append(letra)
    return lista

            
def lista_lista_int():
    pass


def embaralhar(numero=3,numero_objetos=30,lista_return=None):
    '''
    Cria uma lista contendo várias listas, inteiras com 30 itens. Ela irá copiar estas listas e 
    embaralhar de forma que não se sabe se as listas são as mesmas ou são somente iguais!
    '''
    lista = []
    lista1 = []
    lista2 = []
    for i in range(numero):
        lista1.append(lista_simples_int(numero_objetos))

    for i in lista1:
        lista2.append(i.copy())
    lista1.extend(lista2)
    # quntas listas deve ser retornadas!
    if lista_return == None:
        for i in lista1:
            lista.append(random.choice(lista1))
    else:
        for i in range(lista_return):
            lista.append(random.choice(lista1))
    
    return lista


def embaralhar_int_str_hard(numero=3,numero_objetos=30):
    '''
    Cria uma lista contendo várias listas, inteiras, string ou alfanunéricas com vários itens.
    Ela irá copiar estas listas e embaralhar de forma que não se sabe se as listas são as mesmas 
    ou são somente iguais!
    '''
    lista = []
    lista1 = []
    lista2 = []
    for i in range(numero):
        lista1.append(lista_simples_inpura_int_str(numero_objetos))

    for i in lista1:
        lista2.append(i.copy())
    lista1.extend(lista2)
    multiplicador = random.randint(1,25)
    for i in range(len(lista1) * multiplicador):
        lista.append(random.choice(lista1))
    
    return lista


def binario (numero_objetos=8):
    lista = []
    for i in range(numero_objetos):
        lista.append(random.randint(0,1))
    return lista



---

1) Com as listas aleatórias (lista1,lista2,lista3) e usando as funções para listas, f-string, responda as seguintes questões:

In [ ]:
# Execute este código para gerar as listas

lista1 = lista_simples_int(int(random.randint(5,100)))
lista2 = lista_simples_int(int(random.randint(5,100)))
lista3 = lista_simples_int(int(random.randint(5,100)))

1.1) Qual é o tamanho da lista1?

1.2) Qual é o maior valor da lista2?

1.3) Qual seria a soma do maior valor com o menor valor da lista2?

1.4) Qual é a média aritmética da lista1?

1.5) Qual o valor da soma de todas as listas e a soma total delas?

Quero que mostre a soma individual (por lista) e a soma total de todas elas (soma das somas das listas)

1.6) Usando o f-string, imprima todos os valores da lista1 um de baixo do outro.

1.7) Com a indexação e f-string, mostre o valor das posições 5, 9, 10 e 25 de cada lista.

Trate para evitar o erro: IndexError

1.8) Mostre qual das listas tem mais itens 

(lembre-se, as listas são randômicas, não há como prever o tamanho delas).

1.9) Some os maiores números de todas as listas e subtraia pelo menor número dos menores valores das listas.

Para obter o menor valor, pegue o menor valor das listas e veja qual deles é o menor e use ele.

1.10) Pegue o maior valor de todas as listas e some com o menor valor de todas as listas



---

2) A função embaralhar() irá criar listas aleátorias, copiar-las, e embaralhar. 

Desta forma não se sabe se as listas são iguais ou se as listas são as mesmas. Como defult ela irá criar 3 listas diferentes com 30 itens, copiálas e embaralar randomicamente, retornando uma lista com o dobro (6) de itens.

In [ ]:
# Execute este código para gerar as listas

lista = embaralhar(2,10)

a = lista[0]
b = lista[1]
c = lista[2]
d = lista[3]

print(a)
print(b)
print(c)
print(d)
print()

# Neste caso, ele irá criar 2 listas com 10 itens, e retornará
# uma lista com 4 listas podendo cada uma ser cópia ou uma só.
lista = embaralhar(2,10,2)
print(lista)

2.1) Analisnado a lista gerada (possui 2 listas), diga se as duas listas são elas mesmas (is) ou são somente iguais (==).

2.2) Qual é o maior valor destas duas listas

2.3) Qual é o maior valor de cada lista

2.4) Há o número 10 dentro da lista[0]?

2.5) Há o número 20 dentro da lista[1]?

2.6) Quantos números da lista[0] tem dentro da lista[1]?

2.7) Mostre os números da lista[0] que estão dentro da lista[1]

2.8) Mutliplique a soma da lista[0] com cada item da lista[1]

2.9) Faça uma divizão inteira do maior número da lista pelo menor numero da lista. 

Após verifique se o resultado está dentro de uma das listas, se sim, diga qual!

Exemplo:
```
lista = [[1,2,3],[4,5,6]]
```
O maior elemento da lista é 5 e mo menor é o 1.<br>
5//1 = 5<br>
5 está na lista[1]

2.10) Ferifique se o maior número da lista[0] está dentro da lista[1] e se o menor número da lista[1] está na lista[0].



---

3) Escreva uma função chamada nested_sum que receba a lista de listas de números inteiros (lista1), retorne uma lista única e print a soma de todos os elementos.

```
# Por exemplo:

>>> t = [[1, 2], [3], [4, 5, 6]]
>>> lista = nested_sum(t)
21
>>> lista
[1, 2, 3, 4, 5, 6]
```

In [ ]:
####################### Não apagar!
lista1 = [lista_simples_int() ,lista_simples_int(), lista_simples_int()]
#######################

4) Com as seguintes listas, transforme em uma string para poder gravar (futuramente) em um arquivo!

In [32]:
####################### Não apagar!
lista_cadastro = ['codigo', 'cpf', 'nome_completo', 'data_de_nascimento',
                  'estado', 'cidade', 'cep', 'bairro', 'rua', 'numero', 'complemento']

lista_cadastrados = ['1', '11111111111', 'João Carlos', '12/12/90',
                     'SC', 'Camboriú', '8833', 'Tabuleiro', 'Cerejeiras', '45', 'ap 101']
 
lista_cadastrados1 = ['2', '22222222222', 'Paulo Roberto', '23/01/89',
                      'SC', 'Blumenau', '99999', 'Velha', '7 de setembro', '55', '']
#######################

5) Com as seguintes lista, transforme em uma string para poder gravar (futuramente) em um arquivo!

In [ ]:
####################### Não apagar!
lista_cadastros = [['1', 'Arnaldo', '23', 'm', 'alexcabeludo2@hotmail.com', '014908648117'], ['2', 'Haroldo', '44', 'f', 'baratarebelde@gmail.com', '050923172729'], ['3', 'Pilar', '50', 'm', 'wanderson10sp@gmail.com', '018937341049'], ['4', 'Suzete Salvador', '45', 'f', 'eladiomp2@yahoo.com.br', '056928409823'], ['5', 'Riane', '37', 'f', 'orkutzimpower@terra.com.br', '018916004377'], ['6', 'Waldir', '34', 'f', 'nandah.s2@bol.com.br', '058903756441'], ['7', 'Lilian', '22', 'f', 'arydoido@gmail.com', '031958621596'], ['8', 'Matilde', '20', 'm', 'eu_kaka_@hotmail.com', '012941959390'], ['9', 'Samanta', '19', 'm', 'carro.tuning@yahoo.com.br', '028964480437'], ['10', 'Margarida', '30', 'm', 'paraaconta.08@hotmail.com', '047903547580'], ['11', 'Evelyn', '31', 'm', 'joaosilvaticudo@gmail.com', '053958638386'], ['12', 'Alessio', '29', 'm', 'w.nill02@gmail.com', '033961294774'], ['13', 'Yolanda', '25', 'm', 'patty_karen2005@hotmail.com', '027903312626'], ['14', 'Germana', '33', 'f', 'jarlinhatopdelinhagv@hotmail.com', '053964603415'], ['15', 'Helio', '33', 'f', 'juh.slim@gmail.com', '046997316461'], ['16', 'Liége', '21', 'f', 'gledsonlds@hotmail.com', '056992948431'], ['17', 'Yan', '42', 'm', 'lucapratto@yahoo.com.br', '016963562866'], ['18', 'Silvain', '50', 'f', 'hie.s2@hotmail.com', '021963399433'], ['19', 'Brian', '33', 'f', 'juliagabrielle06@hotmail.com', '027962676732'], ['20', 'Deoclides', '40', 'f', 'patriciamascena@gmail.com', '012961047979'], ['21', 'Jaqueline', '32', 'm', 'aninha183@hotmail.com', '014958997782'], ['22', 'Rosamaria', '45', 'f', 'j_leosao@hotmail.com', '026944672627'], ['23', 'Carla', '42', 'm', 'jhasdfjo@hotmail.com', '046976625208'], ['24', 'Aida Santos', '30', 'f', 'nayara.cristinap@hotmail.com', '034920819199'], ['25', 'Thomas', '19', 'm', 'jfdslinda@bol.com.br', '030974027667'], ['26', 'Naiara', '23', 'm', 'darknees_666@ig.com.br', '018976696717'], ['27', 'Karyne', '17', 'm', 'garotosonhador_1@hotmail.com', '054984689319'], ['28', 'Alenis Dias', '43', 'f', 'vi_vi_cristinaf@hotmail.com', '034980886309'], ['29', 'Grace', '38', 'm', 'amandakell@uol.com.br', '041932906720'], ['30', 'Zacarias', '31', 'm', 'loca.som@hotmail.com', '041926007066']]
#######################

6) Crie uma função que solicite 5 nomes e retorne uma lista com todos eles

7)  Com a lista "Nomes", feita no exercicio 6 (anterior) faça uma cópia para 'Nomes2' e adicione o nome "Pedro Paulada" no "Nomes" e "Paulo Cacetada" no "Nomes2"

8) Com a lista 'lista_aninhada' faça uma cópia e nomeie como 'lista_aninhada_2'.

Na lista_aninhada adicione ao lado do número 9 o número 10.

Na lista_aninhada_2 adicione ao lado do número 8 a frase "Aqui não pode ter o número 10!"

In [ ]:
####################### Não apagar!
lista_aninhada = [1,2,3,[4,5,[7,[9],8],6]]
#######################

9) Continuando o exercicio, adicione a lista Nomes (exercicio 6) na lista_aninhada entre os números 2 e o 3. 

Na lista_aninhada_2 adicione a "Pedro Pedroca" entre os números 4 e 5. 

Adicione na lista_aninhada, entre os números 1 e 2, a frase 'um, dois' e na lista_aninhada_2, entre os números 1 e 2 a frase 'Adiciono qualquer coisa em qualquer lugar nesta lista!'

10) Com a lista1, ordene os números de maior para menor!

In [ ]:
####################### Não apagar!
lista1 = lista_simples_int(100)
#######################

11) Com a lista2, ordene os números de menor para maior!

In [ ]:
####################### Não apagar!
lista2 = lista_simples_int(100)
#######################

12) Usando o metodo, adicione a lista1 e lista2 (já ordenadas no ex. 10 e 11) na lista0.

In [ ]:
####################### Não apagar!
lista0 = []
#######################

13) Ordene a lista0 (ex. 12) e diga qual é o maior valor, menor valor e em quais das listas (lista1 ou lista2) estes pertencem.

14) Com a lista_aninhada e lista_aninhada2, do exercicio 9, remova todas as alterações que nelas foram colocadas. Salve os dados removidos em uma lista e imprima na tela cada item em uma linha usando o f-string (use o .pop() )

15) Remova, usando o .remove(), os seguintes itens destas listas:

In [ ]:
# Execute este código para gerar as listas
lista_cadastro = ['codigo', 'cpf', 'nome_completo', 'data_de_nascimento',
                  'estado', 'cidade', 'cep', 'bairro', 'rua', 'numero', 'complemento']

lista_cadastrados = ['1', '11111111111', 'João Carlos', '12/12/90',
                  'SC', 'Camboriú', '8833', 'Tabuleiro', 'Cerejeiras', '45', 'ap 101']

lista_cadastrados1 = ['2', '22222222222', 'Paulo Roberto', '23/01/89',
                  'SC', 'Blumenau', '99999', 'Velha', '7 de setembro', '55', '']

15.1) cpf da lista_cadastro

15.2) camboriú da lista_cadastrados

15.3) Paulo Roberto da lista_cadastrados1

15.4) rua

15.5) 8833

15.6) Velha

15.7) João Carlos

15.8) 11111111111

15.9) cidade

15.10) data_de_nascimento

16) Com a lista_fusao mostre com f-strig e o metodo .index() a posição dos seguintes elementos:

In [ ]:
# Execute este código para gerar as listas
lista_fusao = ['codigo', 'cpf', 'nome_completo', 'data_de_nascimento',
                  'estado', 'cidade', 'cep', 'bairro', 'rua', 'numero', 'complemento',
                  '1', '11111111111', 'João Carlos', '12/12/90',
                  'SC', 'Camboriú', '8833', 'Tabuleiro', 'Cerejeiras', '45', 'ap 101',
                  '2', '22222222222', 'Paulo Roberto', '23/01/89',
                  'SC', 'Blumenau', '99999', 'Velha', '7 de setembro', '55', '']

16.1) cidade

16.2) João Carlos

16.3) Camboriú

16.4) 12/12/90

16.5) 99999

16.6) nome_completo

16.7) 22222222222

16.8) Tabuleiro

16.9) numero

17) Usando o metodo .index(), Crie uma função que localize a posição dos seguintes nomes: 

Germana, Deoclides, Zacarias, Karyne, Helio, Silvain, Aida Santos

Esta função deve receber como parametro a lista_cadastros e o nome. Deve retornar uma lista contendo o endereço do nome na lista_cadastros. 

Exemplo:
```
>>> lista = localize(lista_cadastros,'Alenis Dias')
>>> lista_cadastros[ lista[0] ][ lista[1] ]
'Alenis Dias'
```
Dica: Use o tratamento de ecessões para evitar erro ao procurar um indice que não existe!

In [ ]:
####################### Não apagar!
lista_cadastros = [['1', 'Arnaldo', '23', 'm', 'alexcabeludo2@hotmail.com', '014908648117'], ['2', 'Haroldo', '44', 'f', 'baratarebelde@gmail.com', '050923172729'], ['3', 'Pilar', '50', 'm', 'wanderson10sp@gmail.com', '018937341049'], ['4', 'Suzete Salvador', '45', 'f', 'eladiomp2@yahoo.com.br', '056928409823'], ['5', 'Riane', '37', 'f', 'orkutzimpower@terra.com.br', '018916004377'], ['6', 'Waldir', '34', 'f', 'nandah.s2@bol.com.br', '058903756441'], ['7', 'Lilian', '22', 'f', 'arydoido@gmail.com', '031958621596'], ['8', 'Matilde', '20', 'm', 'eu_kaka_@hotmail.com', '012941959390'], ['9', 'Samanta', '19', 'm', 'carro.tuning@yahoo.com.br', '028964480437'], ['10', 'Margarida', '30', 'm', 'paraaconta.08@hotmail.com', '047903547580'], ['11', 'Evelyn', '31', 'm', 'joaosilvaticudo@gmail.com', '053958638386'], ['12', 'Alessio', '29', 'm', 'w.nill02@gmail.com', '033961294774'], ['13', 'Yolanda', '25', 'm', 'patty_karen2005@hotmail.com', '027903312626'], ['14', 'Germana', '33', 'f', 'jarlinhatopdelinhagv@hotmail.com', '053964603415'], ['15', 'Helio', '33', 'f', 'juh.slim@gmail.com', '046997316461'], ['16', 'Liége', '21', 'f', 'gledsonlds@hotmail.com', '056992948431'], ['17', 'Yan', '42', 'm', 'lucapratto@yahoo.com.br', '016963562866'], ['18', 'Silvain', '50', 'f', 'hie.s2@hotmail.com', '021963399433'], ['19', 'Brian', '33', 'f', 'juliagabrielle06@hotmail.com', '027962676732'], ['20', 'Deoclides', '40', 'f', 'patriciamascena@gmail.com', '012961047979'], ['21', 'Jaqueline', '32', 'm', 'aninha183@hotmail.com', '014958997782'], ['22', 'Rosamaria', '45', 'f', 'j_leosao@hotmail.com', '026944672627'], ['23', 'Carla', '42', 'm', 'jhasdfjo@hotmail.com', '046976625208'], ['24', 'Aida Santos', '30', 'f', 'nayara.cristinap@hotmail.com', '034920819199'], ['25', 'Thomas', '19', 'm', 'jfdslinda@bol.com.br', '030974027667'], ['26', 'Naiara', '23', 'm', 'darknees_666@ig.com.br', '018976696717'], ['27', 'Karyne', '17', 'm', 'garotosonhador_1@hotmail.com', '054984689319'], ['28', 'Alenis Dias', '43', 'f', 'vi_vi_cristinaf@hotmail.com', '034980886309'], ['29', 'Grace', '38', 'm', 'amandakell@uol.com.br', '041932906720'], ['30', 'Zacarias', '31', 'm', 'loca.som@hotmail.com', '041926007066']]
#######################

18) Conte na lista1 a quantidade dos seguintes valores (use o f-string):

In [ ]:
# Execute este código para gerar as listas
lista1 = lista_simples_int(10000)

18.1) 4529

18.2) 29

18.3) 1107

18.4) 7927

18.5) 6967

18.6) 5964

18.7) 8893

18.8) 3972

18.9) 10

18.10) 8214

19) Um numero binário, localizado em uma lista 'listabin', necessita ser convertido em número decimal.

Faça uma função que converta o número binário e retorne o número em decimal. Imprima na tela o número binário e o resultado. (use o .reverte())

In [ ]:
####################### Não apagar!
listabin = binario()
#######################

20) com as seguintes listas, imprima elas e .reverte() suas posições. Some as posições e retorne a lista com as somas.

Exemplo:

```
>>> lista1        = [42,3, 1, 4]
>>> lista_reversa = [4, 1, 3, 42]
>>> lista_soma    = [46,4, 4, 46]
```

20.1) lista1

In [ ]:
####################### Não apagar!
lista1 = lista_simples_int(8)
#######################

20.2) lista2

In [ ]:
####################### Não apagar!
lista2 = lista_simples_int(8)
#######################

20.3) lista3

In [ ]:
####################### Não apagar!
lista3 = lista_simples_int(8)
#######################

20.4) lista4

In [ ]:
####################### Não apagar!
lista4 = lista_simples_int(8)
#######################

20.5) lista5

In [ ]:
####################### Não apagar!
lista5 = lista_simples_int(8)
#######################

21) Com um comando .clear()  apague as seguintes informações:

21.1) apague toda a lista

In [ ]:
####################### Não apagar!
lista_aninhada = [1, 2, 3, [4, 5, [1, 2, 3, [4, 5, [7, [9], 8], 6]], 6]]
#######################

21.2)  apague somente: [4, 5, [1, 2, 3, [4, 5, [7, [9], 8], 6]], 6]

In [ ]:
####################### Não apagar!
lista_aninhada = [1, 2, 3, [4, 5, [1, 2, 3, [4, 5, [7, [9], 8], 6]], 6]]
#######################

21.3) [4, 5, [7, [9], 8], 6]

In [ ]:
####################### Não apagar!
lista_aninhada = [1, 2, 3, [4, 5, [1, 2, 3, [4, 5, [7, [9], 8], 6]], 6]]
#######################

21.4)  [7, [9], 8]

In [ ]:
####################### Não apagar!
lista_aninhada = [1, 2, 3, [4, 5, [1, 2, 3, [4, 5, [7, [9], 8], 6]], 6]]
#######################

21.5) 5,6

In [ ]:
####################### Não apagar!
lista_aninhada = [[1,2],[3,4],[5,6],[7,8],[9,10]]
#######################

21.6) 9,10

In [ ]:
####################### Não apagar!
lista_aninhada = [[1,2],[3,4],[5,6],[7,8],[9,10]]
#######################



---

# **NÂO OBRIGATÓRIA - Para os alunos avançados!**

Com esta lista embaralhada... nem Zeus sabe o que tem nela!

In [ ]:
lista = embaralhar_int_str_hard(randint(3,20),randint(10,50))

#Olhá só que encrenca:

for i in lista:
    print('\n',i)

21) Crie um algoritmo que verifique se todas as listas dentro da "lista" são iguais ou são elas mesmas!

No final, quantas listas são somente iguais e quantas listas são as mesmas.

Mostre tambem os indices das listas que são eles mesnos (is) e os indices das listas que são somente iguais

**Boa sorte!**

In [ ]:
####################### Não apagar!
lista = embaralhar_int_str_hard(randint(3,20),randint(10,50))
#######################